.button-loading-more {
    width: 20rem;
    height: 4.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
        display: flex;
        justify-content: center;
        align-items: center;

        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;
        }

        &-title {
            margin-left: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
}