@import './../../../../global/global.scss';

.filter {
    $timing:.3s;

    &-dropdown{
        width:18rem;
        height:4rem;
        margin:0;
        background:white;
        color: black;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
        position: relative;
        border-radius: 1rem;
        
        &-info {
            height: 100%;
            position:relative;
            cursor:pointer;
            display:flex;
            align-items: center;
            z-index: 3;
            background: white;
            border-radius: 1rem;

            &-click {
                display: flex;
                align-items: center;
                cursor:pointer;
                height: 100%;
                position: relative;

                &-arrow {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    font-size: 1.3rem;
                    margin-right: 0rem;
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    width: 4.5rem;
                    transform: rotate(0);
                    transition-duration: $timing;
                }

                &-arrow svg {
                    color: $primary-color;
                }

                &-arrow-toggle {
                    transform: rotate(180deg);
                    transition-duration: $timing;
                }

                &-arrow-hide {
                    display: none;
                }
            }

            &-click > label{
                padding-left: 1.5rem;
                font-size: 1.7rem;
                cursor:pointer;
            }

            &-icon {
                width: 5.5rem;
                display: none;
                justify-content: center;
                align-items: center;
                height: 100%;
                font-size: 1rem;
                cursor: pointer;
            }

            &-icon svg {
                color: $primary-color;
            }

            &-icon-show {
                display: flex;
            }
        }

        &-active > &-info {
            border-radius: 1rem 1rem 0 0;
        }

        &-active > &-list{
            max-height: 30rem;
            overflow: auto;
            transition:max-height $timing ease-in;
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            z-index: 2;
            border-radius: 1rem;
        }
        
        &-list {
            max-height:0;
            padding:0;
            overflow:hidden;
            list-style-type:none;
            background:white;
            box-shadow:0 0 1px rgba(0,0,0,.3);
            transition:max-height $timing ease-out;
            top: 1px;
            position:absolute;
            min-width:100%;
            z-index: 2;
            border-radius: 1rem;
        }

        &-item {
            display: flex;
            align-items: center;
            position:relative;
            height:4rem;
            border-bottom: 1px solid $primary-color;
            padding-left: 2rem;
            cursor: pointer;
            font-size: 1.7rem;
        }
    }
}
