.filter {
    &-navigation {
        float:left;
        width:100%;
        margin:0;
        padding:0;
    }
    &-navigation-sub {
        float:left;
        cursor:pointer;
        color:#ffffff;
        font-size:16px;
        background-color:#69C;
        margin:0;
        padding:6px 15px 7px 15px;
    }
    &-navigation-sub:hover {
        background-color:#C66;
    }
    &-navigation-sub:active {
        background-color:#eeeeee;
    }
    &-navigation-dropdown {
        position: absolute;
        top: 100px;
        background-color:#eeeeee;
        border:#69C 4px solid;
        margin:0;
        /*This here*/
        transition: .3s all ease-in-out;
        overflow: hidden;
        max-height: 150px;
    }
    .hide {
        visibility: hidden;
        height: 0 !important;
    }
    &-navigation-dropdown ul {
        width:150px;
        list-style:none;
        margin:0;
        padding:0;
    }
    &-navigation-dropdown ul li {
        width:100%;
        font-size:14px;
        line-height:24px;
        margin:0;
        padding:0;
    }
    &-navigation-dropdown input {
        float:left;
        cursor:pointer;
        color:#333333;
        font-size:14px;
        font-family:Arial, sans-serif;
    }
    // &-dropdown-items-container {
    //     height:auto;
    //     max-height:10em;
    //     overflow:auto;
    // }

    // $color:#3694d7;
    // $timing:.3s;

    // &-dropdown {            
    //     position: absolute;
    //     display: inline-block;
    //     min-height: 2em;
    //     max-height:2em;
    //     overflow:hidden;
    //     top: .5em;  
    //     cursor: pointer;
    //     text-align: left;
    //     white-space: nowrap;
    //     color: #444;
        
    //     outline: none;
    //     border: .06em solid transparent;
    //     border-radius: 1em;
    //     background-color: mix($color,#fff,25%);
        
    //     transition: $timing all ease-in-out;
    
    //     input:focus + label {
    //         background: #def;
    //     }
    //     input {
    //         width: 1px;
    //         height: 1px;
    //         display: inline-block;
    //         position: absolute;
    //         opacity: 0.01;
    //     }
    //     label {
    //         border-top: .06em solid #d9d9d9;
    //         display:block;
    //         height: 2em;
    //         line-height: 2em;
    //         padding-left: 1em;
    //         padding-right: 3em;
    //         cursor: pointer;
    //         position: relative;
    //         transition: $timing color ease-in-out;
    
    //         &:nth-child(2) {
    //             border-top: .06em solid #d9d9d9;
    //         }
    //     }
    //     input:checked + label {
    //         display:block;
    //         border-top: none;
    //         position: absolute;
    //         top: 0;
    //         width: 100%;
    
    //         &:nth-child(2) {
    //         margin-top: 0;
    //         position: relative;
    //         }
    //     }
        
    //     &::after {
    //         content:"";
    //         position: absolute;
    //         right: 0.8em;
    //         top: 0.9em;
    //         border: .3em solid $color;
    //         border-color: $color transparent transparent transparent;
    //         transition: .4s all ease-in-out;
    //     }
    //     &.expanded {
    //         border: .06em solid $color;
    //         background: #fff;
    //         border-radius: .25em;
    //         padding: 0;
    //         box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
    //         max-height:15em;
            
    //         label {
    //             border-top: .06em solid #d9d9d9;
    //             &:hover {
    //                 color:$color;
    //             }
    //         }
    //         input:checked + label {
    //             color:$color;
    //         }
            
    //         &::after {
    //             transform: rotate(-180deg);
    //             top:.55em;
    //         }
    //     }
    // }
}
