.login {
  background: #fff;
  margin: 0 auto;
  margin-top: 10%;
  padding: 4rem;
  width: 50%;
}

.title {
  font-size: 3rem;
  font-family: sans-serif;
}

.register-link {
  text-align: center;
  font-size: 2rem;
  color: darkgoldenrod;
  display: block;
  margin-bottom: 2rem;
}


.submit-wrapper {
  display: flex;
  justify-content: center;
}

.submit {
  padding: 2rem 8rem;
  border-radius: 2rem;
  background: darkgoldenrod;
  font-size: 2rem;
  color: antiquewhite;
}

.text-wrong {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  color: crimson;
}
