.comment-number-icon {
  width: 30%;

  & a {
    color: white;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }

  & span {
    color: white;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-left: 1rem;
  }

  & svg.svg-inline--fa.fa-w-16 {
    height: 3rem;
    width: 3rem;
  }
}
