.my-plans{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 20px;
    width: 100%;
    min-height: 100%;
&-adding-header-section{
    padding: 30px;
    display: block;
    margin: 0 auto ;
}
}





