.place-photo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;

    & img{
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 1rem;
        box-shadow: 0 0 1rem #fff;
        width: 70%;
        height: 300px;
        //height: auto; Fixed size of img
    }

    .prev, .next{
        background-color: #fff;
        height: 50px;
        width: 50px;
        border-radius: 30%;
        cursor: pointer;
        font-size: 24px;
        &:hover{
            background-color: goldenrod;
            transition: 0.5s ease-in;
        }
    }
    .prev{
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
    }
    .next{
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
    }
}

