.place-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;

    & img{
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 1rem;
      box-shadow: 0 0 1rem #fff;
      width: 70%;
      height: 300px;
    }

    .prev, .next{
        background: white;
        height: 300px;
        width: 50px;
        cursor: pointer;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        &:hover{
            background-color: goldenrod;
            transition: 0.5s ease-in;
            color: wheat;
        }
    }
    .prev{
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }
    .next{
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
    .sliderAnimation{
      animation: 0.5s linear sliderMove;
  }
  .sliderAppend{
    animation: 0.5s linear append;
  }

  @keyframes sliderMove {
    from {
      opacity: 1;
      }
    to {
      opacity: 0;
    }
  } 
  @keyframes append {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }   
}