.place-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    width: 90%;
    height: 40rem;
    .place-photo-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      img{
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 1rem;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .prev, .next{
        height: 40rem;
        width: 5rem;
        cursor: pointer;
        font-size: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: #333;
        &:hover{
            transition: 0.2s ease-in;
            color: wheat;
        }
    }
    .prev{
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }
    .next{
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
    .sliderAnimation{
      animation: 0.5s linear sliderMove;
  }
  .sliderAppend{
    animation: 0.5s linear append;
  }

  @keyframes sliderMove {
    from {
      opacity: 1;
      }
    to {
      opacity: 0;
    }
  } 
  @keyframes append {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }   
}