.test {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 2rem;

  &__content {
    width: 70%;

    & h3 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
  }

  &__block {
    & img {
      width: 100%;
    }

    & p {
      font-size: 3rem;
    }
  }

  &__nearBy {
    width: 25%;

    &-block {
      & img {
        width: 100%;
      }

      & h3 {
        font-size: 2rem;
      }

      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }
  }
}
