.MainSection{
    flex: 80%;
    background-color: #dbe9d8;
  }
.HeadingWeather{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 10px;
}  

.UserActivityInfo{
  display: flex;
  justify-content: space-around;
  margin-top:10px;
}
