
.place-photo{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

    & img{
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 1rem;
        box-shadow: 0 0 1rem #fff;
        width: 60%;
        height: auto;
    }
}

