form{
    margin-left: 30px;
    margin-bottom: 20px;
   
}
textarea{
    height: 80px;
    width: 300px;
}
.AdvSharing{
    padding: 5px 30px;
    font-size: 15px;
    

}
input{
   margin-top: 5px;
   
}