@import './../../../global-data/global.scss';

.my-plans-icon{
    margin-left: 1.2rem;
    color: $primary-color;
  &:hover{
    color: $primary-color-hover;
  } 
}
#list-item-style{
    display: flex;
    justify-content: space-between;
} 
.plans-list-item.done .plans-list-item {
    text-decoration: line-through;
    color: black;
    font-weight: bold;
  }
.plans-list-item.important .plans-list-item {
    font-weight: bold;
    color:rgb(15, 51, 6);
    border-bottom: 2px solid rgb(15, 51, 6);
  }
