.all-stars-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 40%;

  & span {
    color: #ffffff;
    font-size: 3rem;
    line-height: 2.5rem;
    margin-right: 1rem;
  }

  & svg.svg-inline--fa.fa-w-18 {
    color: #ffff00;
    height: 3rem;
    width: 3rem;

    & path {
      stroke-width: 2rem;
      stroke: #ff4500;
    }
  }
}
