.profile-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.profile {
  width: 100%;
  max-width: 120rem;
  color: black;
}
.profile input:not(.add-place-file),
.profile select,
.profile textarea{
  background-color: rgb(241, 239, 239);
}