.comment-body{
    text-align: left;
    padding: 2rem;
    color:black;

    &-bottom {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
    }

   & .comment-sharing{
        font-size: 1.8rem;
        color: black;
        font-weight: bold;
    
    }
    & form{
        margin-top: 2rem;
        text-align: left;
    }
    .comment{
        height: 120px;
        width: 100%;
        resize: none;
        padding: .5rem 1rem;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    & #comment-button {
        width: 8rem;
        height: 5rem;
    }
    .message{
        padding-top: 2rem;
        font-size: 1.8rem;
        color: red;
        width: 100%;
    }
    .success{
        font-size: 3rem;
        color: green;
        text-align: center;
        width: 100%;
        height: 15px;
    }
    .rating-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 4rem;
    }
    .d-none{
        display: none;
    }
    .thanks_message{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 4rem;
        
        .message_thanks{
            font-size: 18px;
            color: black;
            font-weight: bold;
        }
        .revert{
            cursor: pointer;
            color: goldenrod;
        }
    }
}

.svg-inline--fa.fa-w-18.stars {
  color: #fff;
  cursor: pointer;
  height: 3.5rem;
  width: 3.5rem;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  & path {
    stroke-width: 3rem;
    stroke: #ff4500;
  }

  &.hover {
    color: #ffff00;
  }
}