.comment-body{
    text-align: left;
    margin: 0px 35px;
   & .comment-sharing{
        font-size: 16px;
        color: white;
        padding-bottom: 15px;
    
    }
    & form{
        text-align: left;
        margin: 25px 0px;
       
    }
    .comment{
        height: 120px;
        width: 100%;
        resize: none;
        padding: .5rem 1rem;
        border-radius: 5px;
        border: none;
    }
    & #comment-button {
        margin: 0 auto;
        display: inline-block;
        cursor: pointer;
        width: 15%;
        color: white;
        font-size: 14px;
        margin: 10px 0px 0px;
        padding: 15px;
        background-color: #03A9F4;
        border-radius: 3px;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
        border: none;
        &:hover { 
            transform: scale(1.1);
            box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
            transition: 0.5s;
            font-size: 18px;
            background-color: goldenrod;
            margin-left: 8px;
        }
    }
    .message{
        font-size: 3rem;
        color: red;
        text-align: center;
        width: 100%;
        height: 15px;
    }
    .success{
        font-size: 3rem;
        color: green;
        text-align: center;
        width: 100%;
        height: 15px;
    }
    .rating-container{
        display: flex;
        justify-content: flex-start;
        margin: 10px 0px;
        width: 25%;
    }
    .d-none{
        display: none;
    }
    .thanks_message{
        display: flex;
        justify-content: flex-start;
        margin: 10px 0px;
        width: 30%;
        .message_thanks{
            font-size: 18px;
            color: #ffffff;
            font-weight: bold;
        }
    }
}

