@import './../../../global-data/global.scss';

.login-wrapper {
  min-height: $page-container-height;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 28%;

  &-title {
    text-align: center;
    font-size: 3rem;
  }

  &-error {
    text-align: center;
    font-size: 1.8rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    color: red;
  }

  &-submit {
    margin-top: 4rem;
    display: flex;
    justify-content: center;

    &__button {
      width: 10rem;
      height: 5rem;
    }
  }

  &-register-link {
    text-align: center;
    font-size: 1.7rem;
    color: black;
    display: block;
    margin-top: 2rem;
  }

  &-register-link:hover {
    color: $primary-color;
  }
}