@import './../../../global-data/global.scss';

.header__guest {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 2rem;
  height: $header-height;

  & a {
    display: flex;
    width: 9rem;
  }
}