.user-info-section{
  display: flex;
  height: 40rem;
  color: white;
  font-size: 2rem;
  padding: 5rem 0;
}
.user-info-section input[type=submit]{
  background-color: #4790ee;
  color: #fff;
  border-radius: 1rem;
  border: none;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin: 0;
}
