.nearby-places-photos-collection{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    content: "";
    clear: both;
}
.nearby-place-photo{
    border-bottom: .4rem solid #000;
    border-radius: 1rem;
    padding: 2rem 2rem 3rem;


&:not(:last-child) {
    margin-bottom: 2rem;
} 

& img{
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    width: 100%;
}  
& h4{
    font-size: 1.6rem;
    text-align: center;
    padding-top: 10px;
  }
}

