@import './../../global-data/global.scss';

.content {
  position: relative;
  min-height: $page-height;
  width: 100%;
}

.container {
  padding-top: $header-height;
  margin: 0 auto;
  min-height: $page-height;
  max-height: 100%;
}