.user-info-form{
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.user-info-form span{
  display: flex;
  margin-bottom: 1rem;
}
.user-info-form input{
  display: flex;
  border: none;
  border-radius: 0.7rem;
  font-size: 2rem;
}
.user-info-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.user-info-submit input,
.user-info-view button{
  width: 100%;
}
.user-info-submit,
.user-info-view{
  width: 40%;
}
.user-info-button{
  background-color: #fff;
  border: none;
  border-radius: 0.7rem;
  font-size: 2rem;
}
.user-info_center-group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% / 4);
}
.user-info_center-group.buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}
.user-info-button{
  text-align: center;
}
.user-info_center-group:not(:last-child){
  margin-bottom: 2rem;
}