.user-info-form{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.user-info-form span{
  display: flex;
  margin-bottom: 1rem;
}
.user-info-form input{
  display: flex;
  margin-bottom: 2rem;
  border: none;
  border-radius: 0.7rem;
  font-size: 2.3rem;
}
.user-info-center{
  display: flex;
  flex-direction: column;
}
.user-info-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
}
.user-info-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.user-info-submit{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  font-size: 2.2rem;
}
.user-info-center-group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% / 4);
}
.user-info-center-group.buttons{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}