@import './../../../../global-data/global.scss';

.user-info-form{
  animation: userInfoForm 0.3s;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2rem);
  margin-left: 2rem;

  & div {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
}

.user-info-form input{
  display: flex;
  justify-content: center;
}

.user-info-left > .user-info_center-group input {
  width: 74%;
}

.user-info-right > .user-info_center-group input {
  width: 60%;
}

@keyframes userInfoForm {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}