$grey-color-1: #e0e0e0;
$green-layout-color: #d0dbc1;
$primary-color: #1b624f;
$primary-color-hover: #003727;
$yellow-color-1: #ffeab4;
$yellow-color-2: #fded82;
$grey-color-3: #bdbdbd;
$grey-color-2: #424242;

$box-shadow-small: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
$box-shadow-medium: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0,0,0,.12);
$box-shadow-big: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
$box-shadow-large: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);

$header-height: 8.2rem;
$footer-height: 5rem;
$page-height: calc(100vh - 5rem);
$page-container-height: calc(100vh - 8.2rem - 5rem);

.global-input-text {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.7rem;
  background-color: $green-layout-color;
  box-shadow: $box-shadow-small;
  border: 1px solid $primary-color;

  &:focus{
    outline: none;
  }
}

.global-textarea {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.7rem;
  background-color: $green-layout-color;
  box-shadow: $box-shadow-small;
  border: 1px solid $primary-color;
  font-family: Arial, Helvetica, sans-serif;

  
  &:focus{
    outline: none;
  }
}

.global-raised-button {
  background: $primary-color;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: $box-shadow-medium;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.8rem;
}

.global-raised-button button {
  display: flex;
  justify-content: center;
  align-content: center;
}

.global-raised-button:hover {
  cursor: pointer;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: $box-shadow-big;
}

.global-raised-button:focus {
  outline: none;
}

.global-white-layout {
  color: black;
  background: white;
  box-shadow: $box-shadow-small;
  border-radius: 1rem;
}
