$layout-color: #e0e0e0; //#53b19f //#1b624f; $primary-color: #53b19f;
$second-layout-color: #d0dbc1;
$primary-color: #1b624f;//#e5a3ff;//#1b624f;
$primary-color-hover: #003727;
$secondary-color: #ffeab4;//#ffd1f3;//#ffeab4;//#f9ffcf;//#a1ff95;//#a8ffae; //#fded82;
$map-hover-color: #fded82;
$grey-color: #bdbdbd;

$box-shadow-small: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
$box-shadow-medium: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0,0,0,.12);
$box-shadow-big: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
$box-shadow-large: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);

.global-input-text {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.7rem;
  background-color: $second-layout-color;
  box-shadow: $box-shadow-small;
  border: 1px solid $primary-color;

  &:focus{
    outline: none;
  }
}

.global-input-textarea {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.7rem;
  background-color: $second-layout-color;
  box-shadow: $box-shadow-small;
  border: 1px solid $primary-color;
  font-family: Arial, Helvetica, sans-serif;

  &:focus{
    outline: none;
  }
}

.global-raised-button {
  background: $primary-color;
  color: white;
  border: none;
  display: flex;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: $box-shadow-medium;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.6rem;
}

.global-raised-button:hover {
  cursor: pointer;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: $box-shadow-big;
}

.global-raised-button:focus {
  outline: none;
}

.white-layout {
  color: black;
  background: white;
  box-shadow: $box-shadow-small;
  border-radius: 1rem;
}

body {
  & .header__logo {
    display: none;
  }
}
