.avatar-section{
  animation: userInfoForm 1s;
  width: 30%;
}
.avatar{
  width: 100%;
  height: auto;
  border: none;
  border-radius: 0.7rem;
}
@keyframes userInfoForm {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}