/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,•••••••
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

/* wrapper styles */
.wrapper {
  background: url(../../img/main-bg.jpg) center no-repeat;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
}

/* scrollbar styles */
::-webkit-scrollbar {
	width: 1rem;
}
::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.4); 
}
::-webkit-scrollbar-thumb {
	background: #fff;
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 0.4); 
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 8px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 7px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 6px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 5px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 4px;
  }
}

body {
  & .wrapper {
    background: url(https://images7.alphacoders.com/316/thumb-1920-316707.jpg) center / cover no-repeat;
  }

  & .header,
  & .footer {
    background-color: #000000;
  }

  & .header__navbar a:hover, 
  & .header__navbar a.header__profile ~ a:hover,
  & .header__fields a:hover,
  & .header__fields a.header__profile ~ a:hover {
    color: orangered;
  }

  .header__search:hover,
  .header__search:hover a {
    background: orangered;
  }

  & .map path.blur {
    fill: orangered;
  }

  // &.hover {
  //   fill: inherit;
  // }

  & .map path.visited {
    fill: orangered;
  }

  & .map .description {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 0 .1rem #eee;
    color: #333;
    display: none;
    align-items: center;
    font-size: 2rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    pointer-events: none;
    position: absolute;
    text-align: center;
    height: 4rem;
    max-width: 30rem;
    z-index: 999;

    &.activeTop {
      display: flex;
      transform: translate(-50%, calc(-0%));
    }

    &.activeBot {
      display: flex;
      transform: translate(-50%, calc(-350%));
    }
  }

  & .single-place .main-comment-sections {
    background-color: rgba(0, 0, 0, 0.5);
  }

  & .aside-section {
    background-color: rgba(255, 255, 255, .6);
    border-radius: 0 0 1rem 1rem;
    height: 100%;
  }

  & .place-photo .prev:hover,
  & .place-photo .next:hover {
    background-color: orangered;
    color: #f2f2f2;
  }

  & .stars:hover {
    color: orangered;
  }

  & .comment-body #comment-button {
    background-color: #fff;
    color: #000;
    padding: 1rem 3rem;
  }

  & .comment-body #comment-button:hover {
    background-color: orangered;
    color: #ffffff;
    font-size: 14px;
    margin: 10px 0 0;
    transform: scale(1);
    transition: .3s all;
  }

  & .place-card-container .place-card.place-card-show {
    background-color: rgba(255, 255, 255, 0.8);
  }

  & .place-card-container .place-card h2 {
    padding: 1rem 2rem;
    height: auto;
  }

  & .place-card-container {
    border-radius: 1rem;
    overflow: hidden;
  }

  & .place-card-container .place-card {
    border-radius: 0;
  }

  & .place-card-container a {
    display: block;
    // border-radius: 1rem;
    height: 100%;
  }

  & .place-card-container:hover {
    // box-shadow: 0 0 .5rem .2rem #fff;
    border: 2px solid #fff;
    // border-radius: 1rem;
  }

  & .filter-dropdown-item:hover {
    background-color: orangered;
    color: #ffffff;
  }

  & ::-webkit-scrollbar-thumb {
    background: orangered;
  }

  & ::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.4); 
  }
}