.header__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 2rem;

  &-avatar {
    margin-right: 0;
    height: 5rem;
    width: 5rem;

    & img {
      margin-bottom: 0.5rem;
      height: 4.5rem;
      width: 4.5rem;
    }
  }

  &-data {
    & h5 {
      color: #fff;
      font-size: 2rem;
    }

    & a {
      display: inline-block;

      &.header__profile {
        color: rgba(0, 255, 255, 0.7);
        margin-right: 1rem;

        & ~ a {
          color: rgba(255, 0, 0, 0.7);
        }
      }
    }
  }

  & li:last-child {
    text-align: right;
  }
}
