@import './../../../../global-data/global.scss';

.user-info {
  animation: userInfoForm 0.3s;
  width: calc(100% - 2rem);
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;

  & div {
    border-bottom: 1px solid $grey-color-3;
    padding-top: 1.4rem;
    padding-bottom: 1rem;
  }
}

.user-info-left{
  display: flex;
  flex-direction: column;
  width: 48.5%;
}

.user-info-right{
  display: flex;
  flex-direction: column;
  width: 48.5%;
}

.user-info_center-group {
  display: flex;
  flex-direction: row;
}

.user-info-left > .user-info_center-group label {
  width: 26%;
}

.user-info-right > .user-info_center-group label {
  width: 40%;
}

.user-info_center-group label {
  color: $primary-color;
  font-size: 1.8rem;
  min-height: 2rem;
  display: flex;
  align-items: center;
}

.user-info .user-info_center-group span {
  padding-left: 1.5rem;
  font-weight: bold;
  font-size: 1.6rem;
  min-height: 2rem;
}

@keyframes userInfoForm {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}