/* header styles */
.header {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  height: 6rem;
  z-index: 9;

  & .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 5rem;

    & img {
      height: 5rem;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 5rem;
    height: 100%;
  }

  &__navbar,
  &__fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    & a {
      color: #fff;
      display: block;
      font-size: 2rem;
      line-height: 2.5rem;
      text-decoration: none;
      padding: 1rem 0;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &:hover,
      &.header__profile ~ a:hover {
        background: linear-gradient(aqua, yellow);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        position: relative;
        transform: scale(1.1);
      }
    }
  }

  &__search {
    background-color: #fff;
    display: block;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 1rem;

    & a {
      font-size: inherit;
      line-height: normal;
      padding: 0;
    }

    & a {
      height: 1.8rem;
      width: 1.8rem;
      & img {
        height: 1.8rem;
        width: 1.8rem;
      }
    }

    &:hover,
    &:hover a {
      background: linear-gradient(aqua, yellow);
      transform: scale(1.1);
    }
  }
}
