/* header styles */
.header {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  height: 10rem;
  z-index: 9;

  & .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 6rem;

    & img {
      height: 6rem;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0 5rem;
  }

  &__navbar,
  &__fields {
    display: flex;
    flex-direction: row;
    align-items: center; 

    & a {
      color: #fff;
      display: block;
      font-size: 2rem;
      line-height: 2.5rem;
      text-decoration: none;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &:hover,
      &.header__profile ~ a:hover {
        background: linear-gradient(aqua, yellow);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        position: relative;
        transform: scale(1.1);
      }
    }
  }

  &__search {
    background-color: #fff;
    display: block;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 1rem;

    & a {
      font-size: inherit;
      line-height: normal;
    }

    & img {
      height: 2rem;
      width: 2rem;
    }

    &:hover {
      background: linear-gradient(aqua, yellow);
      transform: scale(1.1);
    }
  }
}
