@import './../../global/global.scss';

/* header styles */
.header {
  background-color: $primary-color;
  box-shadow: -2px 1px 7px 5px rgba(0,0,0,0.75);
  position: relative;
  height: 6rem;
  z-index: 9;

  & .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 5rem;

    & a {
      display: block;
      
      & img {
        height: 5rem;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 5rem;
    height: 100%;
  }

  &__navbar,
  &__fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    & a {
      color: #fff;
      display: block;
      font-size: 2rem;
      line-height: 2rem;
      text-decoration: none;
      padding: 0.5rem 0;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &:hover,
      &.header__profile ~ a:hover {
        color: white;
        font-weight:bold;
        position: relative;
        transform: scale(1.05);
      }
    }
  }

  &__search {
    display: block;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 1rem;
    margin-left: 2rem;

    & a {
      font-size: inherit;
      line-height: normal;
      padding: 0;
      color: white;
    }

    & a {
      height: 1.8rem;
      width: 1.8rem;
      & img {
        height: 1.8rem;
        width: 1.8rem;
      }
    }

    &:hover,
    &:hover a {
      transform: scale(1.1);
    }
  }
}
