.user-avatar-small-skeleton {
    display: block;
    border: none;
    border-radius: 0.5rem;
    height: 3.8rem;
    width: 3.8rem;
    animation: loading 2.5s infinite linear;
    background: #dedfe1;
    background-image: linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 50%, #dedfe1 100%);
    background-repeat: no-repeat;

    @keyframes loading {
        0% { background-position  : -100px; }
        100% { background-position : 3.8rem; }
    }
}