.user-avatar-small-skeleton {
    display: block;
    border: none;
    border-radius: 0.5rem;
    height: 3.8rem;
    width: 10rem;
    animation: loading 2.5s infinite linear;
    background: #004f3a;
    background-image: linear-gradient(to right, #004f3a 0%, #3c7957 70%, #004f3a 50%, #004f3a 100%);
    background-repeat: no-repeat;
    margin-right: 2rem;

    @keyframes loading {
        0% { background-position  : -100px; }
        100% { background-position : 3.8rem; }
    }
}