/* map styles */
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 99;

  &__slogan {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem #97743a;
    text-transform: uppercase;
  }

  &.tooltip:hover {
    fill: red;
    transition: (0.3s);
  }

  .description {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #eee;
    color: #21669e;
    display: none;
    font-size: 2rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    pointer-events: none;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -180%);
    max-width: 30rem;
    z-index: 5;

    &.active {
      display: block;
    }
  }
}

.map svg {
  height: 70rem;
  width: 110rem;

  @media (min-width: 1200px) and (max-width: 1439px) {
    & {
      height: 65rem;
      width: 110rem;
    }
  }

  /* Portrait tablets and medium desktops */
  @media (min-width: 992px) and (max-width: 1199px) {
    & {
      height: 90rem;
      width: 100%;
    }
  }

  /* Portrait tablets and small desktops */
  @media (min-width: 768px) and (max-width: 991px) {
    & {
      height: 80rem;
      width: 100%;
    }
  }
}

.map path {
  cursor: pointer;

  // &:hover {
  //   fill: url(#gradient);
  //   transition: (0.3s);
  // }

  &.blur {
    fill: url(#gradient);
  }

  // &.hover {
  //   fill: inherit;
  // }

  &.visited {
    fill: url(#gradient);
  }
}
