.main-form > .group {
  position: relative;
  width: 45%;
  margin: 2rem 1rem;
}

.register-form-group {
  width: 100%;
  margin: 0 auto;
}

.main-form {
  display: flex;
  flex-wrap: wrap;
}

.button-wrapper {
  width: 100%;
}