@import './../../global-data/global.scss';

.register-wrapper {
  min-height: $page-container-height;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 28%;

  &-title {
    text-align: center;
    font-size: 3rem;
  }

  &-submit {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
  }
}
