@import './../../global/global.scss';

/* footer style */
.footer {
  box-shadow: -2px -1px 7px 5px rgba(0,0,0,0.75);
  background-color: $primary-color;
  position: relative;
  height: 4rem;
  width: 100%;
  z-index: 9;

  & .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  & h5 {
    color: #fff;
    font-size: 1.6rem;
    text-shadow: 0.1rem 0.1rem 0.5rem #333;
  }
}
