/* footer style */
.footer {
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  height: 4rem;
  width: 100%;
  z-index: 9;

  & .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  & h5 {
    color: #fff;
    font-size: 1.6rem;
    text-shadow: 0.1rem 0.1rem 0.5rem #333;
  }
}
