.aside-section {
    margin-top: 5rem;
    margin-left: 4rem;
    flex: 28%;
    text-align: center;

    & span {
        font-size: 2rem;
        font-weight: bold;
    }

    & .place-card-container {
        margin-top: 2rem;
    }
}

