@import './../../global-data/global.scss';

.search-container {
  overflow: auto;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.search {
  margin-top: 5rem;
  max-width: 120rem;
  width: 100%;

  &__wrapper {
    border-radius: 1rem;
    margin-bottom: 5rem;
    overflow: hidden;

    &.results {
      & .search__find {
        padding: 1rem 1rem 0;

        & input {
          border-radius: 1rem 1rem 0 0;
        }
      }

      & .search__results {
        display: block;
      }

      @keyframes resultsShow {
        from {
          transform: translateY(-100%);
        }

        to {
          transform: translateY(0);
        }
      }
    }
  }

  &__fields {
    border-radius: 1rem;
    transition: all 0.5s;
    max-height: 7rem;

    &.results {
      transition: all 0.5s;
      max-height: 50vh;

      & .search__find {
        border-bottom: 1px solid $layout-color;

        & input {
          border-radius: 1rem 1rem 0 0;
        }
      }

      & .search__results {
        display: block;
        max-height: calc(50vh - 7rem);
      }
    }
  }

  &__find {
    position: relative;
    z-index: 9;

    & input {
      background-color: white;
      border: none;
      border-radius: 1rem;
      font-size: 2rem;
      font-weight: bold;
      padding: 0 2rem;
      height: 5rem;
      width: 100%;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: 1.8rem;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__results {
    background-color: white;
    border: none;
    border-top: 0;
    display: none;
    overflow: auto;
    position: relative;
    transition: all 0.5s;
    max-height: 0;
    width: calc(100%);
    z-index: 8;

    &_nothing {
      color: rgba(0, 0, 0, 0.9);
      cursor: pointer;
      font-size: 2.5rem;
      line-height: 3rem;
      padding: 1rem 2rem;

      &:hover {
        color: #ffffff;
      }
    }

    & ul {
      height: 100%;
      width: 100%;

      & li {
        padding: 1rem 2rem;

        &:not(:last-child) {
          border-bottom: 0.1rem solid $layout-color;
        }

        & a {
          color: rgba(0, 0, 0, 0.8);
          display: block;
          font-size: 2rem;
          line-height: 2.5rem;
          text-decoration: none;

          & span {
            color: rgba(0, 0, 0, 0.9);
            display: block;
            font-size: 2.5rem;
          }
        }

        &:hover {

          & a,
          & span {
            color: $primary-color;
          }
        }
      }
    }
  }

  &__more {
    background-color: white;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 2rem;
  }

  &__random {
    border-bottom: 1px solid $layout-color;

    & a {
      color: rgba(0, 0, 0, 0.9);
      display: block;
      font-size: 2.5rem;
      padding: 2rem;
      text-decoration: none;

      &:hover {
        color: $primary-color;
      }

      & svg {
        color: $primary-color;
        font-size: 2.5rem;
        margin-right: 1rem;
      }
    }
  }

  &__popular {
    & h2 {
      font-size: 2.5rem;
      padding: 1rem 2rem;

      & svg {
        color: $primary-color;
        font-size: 2.5rem;
        margin-right: 1rem;
      }
    }

    & ul {
      font-size: 2rem;

      & li {
        &:hover {
          & a {
            color: $primary-color;
          }
        }

        & a {
          color: rgba(0, 0, 0, 0.9);
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1rem 2rem 1rem 7rem;
          text-decoration: none;
          height: 100%;

          & span {
            display: flex;
            flex-direction: row;
            text-align: right;
            width: 6.5rem;
            
            & svg {
              display: flex;
              color: $map-hover-color;
              width: 10rem;

              & path {
                stroke-width: 2rem;
                stroke: #ff4500;
              }
            }

            & span {
              margin-left: 1.2rem;
            }
          }
        }
      }
    }
  }
}
