@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }

.Rating { 
  border: none;
  float: left;
}
.Rating > input { display: none; } 
.Rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.Rating > label { 
  color: grey; 
 float: right; 
}
.Rating > input:checked ~ label, 
.Rating:not(:checked) > label:hover, 
.Rating:not(:checked) > label:hover ~ label { color: #FFD700;  } 
.Rating > input:checked + label:hover,
.Rating > input:checked ~ label:hover,
.Rating > label:hover ~ input:checked ~ label, 
.Rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
