@import './../../global-data/global.scss';

.single-place {
  display: flex;
  justify-content: center;
  
  &-wrapper{
    display: flex;
    width: 100%;
    max-width: 120rem;
    margin: 5rem 0 5rem 0;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    width: 82%;
  }

  

  & .main-comment-sections{
    width: 100%;
  }
}
 
@media screen and (max-width: 700px) {
  .single-place {
    flex-direction: column;
    
  }
}

