.add-to-wish-list-bttn {
  text-align: right;
  width: 30%;
  height: 3rem;

  .wish-checkbox {
    color: #ebe8e8;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.5rem;
    padding-right: 4rem;
    position: relative;
    user-select: none;
    height: 100%;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.4;
      pointer-events: none;
    }

    &:hover input ~ .wish-checkmark {
      background-color: #bbb;
    }

    & input {
      opacity: 0;
      position: absolute;
      height: 0;
      width: 0;

      &:checked ~ .wish-checkmark {
        background-color: #2196f3;
      }

      &:checked ~ .wish-checkmark:after {
        display: block;
      }
    }

    & .wish-checkmark {
      background-color: #ebe8e8;
      border-radius: 0.5rem;
      position: absolute;
      top: 0;
      right: 0;
      height: 3rem;
      width: 3rem;

      &:after {
        content: "";
        display: none;
        position: absolute;
        left: 1rem;
        top: 0.3rem;
        width: 1rem;
        height: 2rem;
        border: solid white;
        border-width: 0 0.5rem 0.5rem 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}
